/*
colours used: 
Primary
yellow #ffd139
orange #ec5d0d
blue #089ca3

Secondary
dark orange #ec5f0d80
dark blue #055f64

Text
grey #4a4a4a

*/

body {
    background-color: #ffffff;
    font-family: 'poppins', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }

  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

  img {
    width:100%;
  }

  /* links and buttons */

  a{
    text-decoration: none;
    font-weight: 700;
    color: #ec5d0d;
  }

  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #ec5d0d;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #ec5f0d80; /* width of the border, type, color */
    transition: 0.2s opacity;
    
  }
  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
.button.contact {
         background-color: transparent;
        color: #ffffff;
        text-transform: uppercase;
        border: 2px solid #ffffff;
        padding: 10px 20px 11px 20px;
      
}
.button.contact:hover {
    background-color: #ffffff80;
    color: #ffffff;
  }



  /* layout styling */

  .container {
    padding: 0 15px;
  }

  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }

  /* header */

  header {
    background-color: #ffd139;
    padding: 10px;
    margin: 10px;
    width: 100%;
    position: fixed;
    text-align:center;
   }

   .css-box-shadow{
    /*start ------------*/
    width: [object Object]px; 
    height: [object Object]px; 
    background: #F8F8F8; 
    border: solid #BDBDBD 1px; 
    box-shadow: 0 0 39px rgba(0, 0, 0, 0.2)  ; 
    -webkit-box-shadow: 0 0 39px rgba(0, 0, 0, 0.2)  ; 
    -moz-box-shadow: 0 0 39px rgba(0, 0, 0, 0.2)  ; 
  }

  .logo{
max-width: 150px;
text-align:center;
  }

  header ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  header ul li{
    display: inline-block;    
  }

  nav{
    display: inline-block;
  }

  nav > ul {
    list-style-type: none;
    padding: 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
  }

/* hero*/
#hero{
  background-color: #ffffff;
  padding: 20px 0;
  display: inline;
  width: 100%;
}

#hero h1{
  text-align:center;
}

/*main*/
main {
  padding-top: 133px;
}

/* alignment */

.center{
  text-align:center;
}

  /* footer */

  footer{
    background-color: #089ca3;
    color:#ffffff;
    padding: 50px 0;
    text-align: center;
  }

  .fix-size{
    width: 40px;
    height: auto;
  }

  footer a{
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
  }

  .social-icons{
    margin-top:30px;
      }

      .social-icons a{
        margin:0 15px;
          }