/*
colours used: 
Primary
yellow #ffd139
orange #ec5d0d
blue #089ca3

Secondary
dark orange #ec5f0d80
dark blue #055f64

Text
grey #4a4a4a

*/

html {
  scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    font-family: 'poppins', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }

  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

  img {
    width:100%;
  }

  /* links and buttons */

  a{
    text-decoration: none;
    font-weight: 700;
    color: #ec5d0d;
  }

  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #ec5d0d;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #ec5f0d80; /* width of the border, type, color */
    transition: 0.2s opacity;
    
  }
  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
.button.contact {
         background-color: transparent;
        color: #ffffff;
        text-transform: uppercase;
        border: 2px solid #ffffff;
        padding: 10px 20px 11px 20px;
      
}
.button.contact:hover {
    background-color: #ffffff80;
    color: #ffffff;
  }



  /* layout styling */

  .container {
    padding: 0 15px;
  }

  .row, .row-2 {
    margin: 25px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  
  /* header */

  header {
    background-color: #fff;
    padding: 10px;
    width: 100%;
    position: fixed;
    left: 0;
    right:0;
    top:0;
    text-align:center;
    box-shadow: 0 0 39px rgba(0, 0, 0, 0.2); 
          border-bottom: solid #BDBDBD 1px; 
   }

 
.logo-stuff {
  float: centre;
  margin: 10px;
}
 

  .logo{
max-width: 150px;
  }


  nav{
     
  width: 100%
   

  }

  nav > ul {
    list-style-type: none;
    padding: 0px;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
  }



 



/* hero*/
#hero{
  background-color: #ffffff;
  padding: 20px 0;
  display: inline;
  width: 100%;
  text-align: center;
}

#hero h1{
  text-align:center;
}

/*main*/
main {
  padding-top: 133px;
}

/* alignment */

.center{
  text-align:center;
}

  /* footer */

  footer{
    background-color: #089ca3;
    color:#ffffff;
    padding: 50px 0;
    text-align: center;
  }

  .fix-size{
    width: 40px;
    height: auto;
  }

  footer a{
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
  }

.social-icons{
    margin-top:30px;
 }

.social-icons a{
   margin:0 15px;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    
      body{
    font-size: 18px;
  }
    
  .container {
    padding: 0 0px;
      max-width: 1200px;
      margin: 0 auto;
  }
    
    
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: -4px;
  }

  #hero span{
    display: block;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
  }

  .picture{
    margin-top:50%;
  }
}

/*----------animation---------------*/
svg{
  width: 100%;
max-width: 100%;
height: auto;
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun{

    animation: 4s color-change infinite alternate linear;
    }


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body{
    font-size: 18px;
  }
    
  .container {
    padding: 0 0px;
      max-width: 1200px;
      margin: 0 auto;
  }
    
    
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: -4px;
  }

  #hero span{
    display: block;
  }
  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
    float: left;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
  }
.logo-stuff{
  margin:30px;
  padding:0px;
}
    
  }


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}