/*
colours used: 
Primary
yellow #ffd139
orange #ec5d0d
blue #089ca3

Secondary
dark orange #ec5f0d80
dark blue #055f64

Text
grey #4a4a4a

*/

body {
    background-color: #ffffff;
    font-family: 'poppins', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }

  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

  img {
    width:100%;
  }

  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #ec5d0d;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #ec5f0d80; /* width of the border, type, color */
    transition: 0.2s opacity;
    
  }
  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
.button.contact {
         background-color: transparent;
        color: #ec5d0d;
        text-transform: uppercase;
        border: 2px solid #ec5d0d;
      
}
.button.contact:hover {
    background-color: #ec5f0d80;
    color: #ffffff;
  }

  Header {
    background-color: #ffd139;
    padding: 10px;
    margin: 10px;
  }

  /* layout styling */

  .container {
    padding: 0 15px;
  }

  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }